.primary-button {
    border-radius: 0px;

    @include boton-blue();

    &:hover {
        @include boton-blue-hover();
    }

    &:focus {
        @include boton-blue-focus();
    }
}

.secondary-button {
    border-radius: 0px;

    @include boton-transparente();

    &:hover {
        @include boton-transparente-hover();
    }

    &:focus {
        @include boton-transparente-focus();
    }
}


.prices__card--buttons {
    
    padding: 0.7rem 0rem;
    width: 100%;
    margin: 2rem 0rem 0.5rem;

    @include boton-card ();
    &:hover {
        @include boton-card-hover ();
    }
}


