@mixin boton-blue() {
      
    background-color: $color-corp07;
    font-family: $font-f01;
    font-size: $fs-medium;
    color: $color-white;
    font-weight: $boldw;

 }


 @mixin boton-blue-hover() {
      
  background-color: $color-corp08;
  font-family: $font-f01;
  font-size: $fs-medium;
  color: $color-white;
  font-weight: $boldw;

}

