

//colores
$color-corp01: #221D23;
$color-corp02: #726f73;
$color-corp03: #aeacaf;

$color-corp04: #221D23;
$color-corp05: #8f9199;
$color-corp06: #c7c8c0;

$color-corp07: #2ab7ca;
$color-corp08: #77d1dd;
$color-corp09: #b1e4eb;

$color-corp10: #ee9480;
$color-corp11: #f4baae;
$color-corp12: #fadfda;

$color-white: #fff;
$color-platinium: #e8e8e8;
$color-gray: #bababa;


//font-weight
$boldw: bold;
$regularw: 'regular';


//font-family
$font-f01: 'raleway';
$font-f02: 'open sans';


//font-size
$fs-5xlarge: 50px;
$fs-4xlarge: 45px;
$fs-3xlarge: 40px;
$fs-2xlarge: 35px;
$fs-xlarge: 30px;
$fs-large: 20px;
$fs-medium: 16px;
$fs-small: 14px;
$fs-xsmall: 12px;












