

//colores
$color-corp1: #221D23;
$color-corp2: #726f73;
$color-corp3: #aeacaf;

$color-corp4: #221D23;
$color-corp5: #8f9199;
$color-corp6: #c7c8c0;

$color-corp7: #2ab7ca;
$color-corp8: #77d1dd;
$color-corp9: #b1e4eb;

$color-corp10: #ee9480;
$color-corp11: #f4baae;
$color-corp12: #fadfda;

$color-white: #fff;
$color-platinium: #e8e8e8;
$color-gray: #bababa;


//font-weight
$fw-bold: bold;
$fw-regular: regular;


//font-family
$font01: "raleway";
$font02: "open sans";


//font-size
$fs-5xlarge: 50px;
$fs-4xlarge: 45px;
$fs-3xlarge: 40px;
$fs-2xlarge: 35px;
$fs-xlarge: 30px;
$fs-large: 20px;
$fs-medium: 16px;
$fs-small: 14px;
$fs-xsmall: 12px;












