
//colores

$color-black: #221D23;
$color-highgray: #726f73;
$color-highsilver: #aeacaf;

$color-highblue: #221D23;
$color-sgray: #8f9199;
$color-lowgray: #c7c8c0;

$color-blue: #2ab7ca;
$color-mblue: #77d1dd;
$color-lablue: #b1e4eb;

$color-dsalmon: #ee9480;
$color-melon: #f4baae;
$color-pink: #fadfda;

$color-white: #fff;
$color-platinium: #e8e8e8;
$color-gray: #bababa;

//font-weight





