.footer {
    background-color: $color-corp01; 
}

.footer__grid--item {
    color: $color-white;
}

.footer__grid--container {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 30px 10px;
    padding: 0.5rem 0rem 2rem;
}

.footer__list--terms {
   list-style: none;
}

.footer__list--item {
    font-family: $font-f01;
}




