
.nav-item {
    font-family: $font-f01;

}


.header {
    background-image: url("../img/bg-hero.svg");   
    background-size: contain;    
    background-clip: border-box;
}


.header__primary--container {
    display: flex;
    flex-wrap: wrap;
}


.header__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
}


.header__principal--title {
    font-size: $fs-5xlarge;
    font-family: $font-f01;
    font-weight: $boldw;
    text-align: left;
}


.header__principal--text {
    font-size: $fs-medium;
    font-family: $font-f02;
    font-weight: $regularw;
    text-align: left;
    line-height: 1.8rem;
    padding-top: 0.5rem;
}


.header__grid--item{
    padding: 3rem 0rem;
    margin: 4rem 0rem 27.5rem;
}



@media (max-width:1020px){
    .header__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header__grid--item{
        padding: 3rem 0rem;
        margin: 4rem 0rem 23.5rem;
    }
    
}


@media (max-width:720px){
    .header__grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .header__grid--item{
        padding: 3rem 0rem;
        margin: 3rem 0rem 15rem;
    }
}


@media (max-width:520px){
    .header {
        background-image: url("../img/bg-hero.png"); 
        background-size: contain;  
    }

    .header__grid--item{
        padding: 3rem 0rem;
        margin: 2rem 0rem 10rem;
    }

    .header__principal--title {
        font-size: $fs-3xlarge;
    }

    .header__principal--text {
        font-size: $fs-small;
        font-weight: $regularw;
        text-align: left;
        line-height: 1.5rem;
        padding-top: 0.5rem;
    }
}

@media (max-width:321px){
    .header {
        background-image: url("../img/bg-hero.png"); 
        background-size: 320px;  
    }

    .header__grid--item{
        padding: 3rem 0rem;
        margin: 2rem 0rem 6rem;
    }

}


